<!--
  Generated template for the CompletedChallenges page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Competed Challenges</ion-title>

    <ion-buttons end>
      <button ion-button menuToggle="right" icon-only (click)="presentModal()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let challenge of (_challengeService.challenges | CurrentFilter:false)" (click)="_challengeService.completeChallengesPopup(challenge, true)" class="slide-in-both-ways">
    <img src="img/challenges/{{challenge.image_url}}"/>
    <ion-item>
      <ion-icon item-left name="trophy"></ion-icon>
      <h2>{{challenge.name}}</h2>
      <p style="white-space: normal">{{challenge.description}}</p>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="flash"></ion-icon>
      <h2>{{challenge.xp}} XP</h2>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="walk"></ion-icon>
      <span item-left>{{challenge.completion.required}} {{challenge.type}}</span>
      <button ion-button icon-left clear item-right
                           *ngIf="!challenge.active" color="danger">
      <ion-icon name="clock"></ion-icon>
      <span>Pending</span>
    </button>
      <button  ion-button icon-left clear item-right
              *ngIf="challenge.active && challenge.completion.time " color="danger">
        <ion-icon *ngIf="challenge.start_time + challenge.completion.time <= getCurrentTime()" name="alert"></ion-icon>
        <span *ngIf="challenge.start_time + challenge.completion.time <= getCurrentTime()" >Expired {{challenge.start_time + challenge.completion.time | HumanizeDate}} ago</span>
      </button>

    </ion-item>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="searchChallenges()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
