<ion-header>
    <ion-toolbar>
        <ion-title>
            {{challenge.challenge_name}} Progress
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

    <ion-card>
        <img src="img/challenges/{{challenge.image_url}}"/>
        <ion-item>
            <ion-icon item-left name="trophy"></ion-icon>
            <h2>{{challenge.challenge_name}}</h2>
            <p style="white-space: normal">{{challenge.description}}</p>
        </ion-item>
        <ion-item>
            <ion-icon item-left name="flash"></ion-icon>
            <h2>{{challenge.xp}} XP</h2>
        </ion-item>
        <ion-item>
            <ion-icon item-left name="walk"></ion-icon>
            <span item-left>Step 1: {{challenge.completion.step1}} Steps</span>
        </ion-item>
        <ion-item>
            <ion-icon item-left name="walk"></ion-icon>
            <span item-left>Step 2: {{challenge.completion.step2}} Steps</span>
        </ion-item>
        <ion-item>
            <button ion-button icon-left clear item-right
                    *ngIf="!challenge.active" color="danger">
                <ion-icon name="clock"></ion-icon>
                <span>Pending</span>
            </button>
        </ion-item>
    </ion-card>

    <ion-list>
        <ion-list-header>
            Participants
        </ion-list-header>

        <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>

        <ion-card *ngFor="let participant of challenge.participants || orderByChild">
            <ion-item *ngIf="!loading">
                <ion-avatar item-left>
                    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
                </ion-avatar>
                <h2>{{participant.fitness_stats.name}} <i *ngIf="participant.complete_date"><ion-icon color="primary" name="checkmark-circle"></ion-icon></i> </h2>
                <p style="white-space: normal"></p>
            </ion-item>
            <ion-item *ngIf="!loading">
            <h2>Step 1</h2>
            <ion-icon item-left name="trophy"></ion-icon>
            <h2>{{participant.step1.percentage}}%</h2>
            <progress value="{{participant.step1.progress}}" max="{{challenge.completion.step1}}"></progress>
        </ion-item>
            <ion-item *ngIf="!loading">
                <h2>Step 2</h2>
                <ion-icon item-left name="trophy"></ion-icon>
                <h2>{{participant.step2.percentage}}%</h2>
                <progress value="{{participant.step2.progress}}" max="{{challenge.completion.step2}}"></progress>
            </ion-item>
            <ion-item *ngIf="participant.complete_date">
                <ion-icon item-left name="stopwatch"></ion-icon>
                <h2>Completed : {{participant.complete_date | HumanizeDate}} ago</h2>
            </ion-item>
            <ion-item *ngIf="!participant.complete" >
                <ion-icon item-left name="clock"></ion-icon>
                <h2 *ngIf="participant.last_update" >Last active : {{participant.last_update | HumanizeDate}} ago</h2>
                <h2 *ngIf="!participant.last_update" >Last active : {{participant.last_update | HumanizeDate}}</h2>
            </ion-item>
        </ion-card>

    </ion-list>

</ion-content>