$tabbar-md-background:                    #f8f8f8;

// Change the color of the tabs text
$tab-button-md-active-color:              color($colors, dark);
$tab-button-md-inactive-color:            #8c8c8c;