page-friends {

}
.md ion-list > .item:last-child,
.md ion-list > .item-wrapper:last-child .item,
.wp ion-list > .item:last-child,
.wp ion-list > .item-wrapper:last-child .item,
.ios ion-list > .item:last-child,
.ios ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}
.md ion-list > .item:first-child,
.md ion-list > .item-wrapper:first-child .item,
.wp ion-list > .item:first-child,
.wp ion-list > .item-wrapper:first-child .item,
.ios ion-list > .item:first-child,
.ios ion-list > .item-wrapper:first-child .item {
  border-top: none;
}
@-webkit-keyframes slideInBothWays {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  50% {
    -webkit-transform: translate3d(50%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-both-ways {
   -webkit-animation: slideInBothWays ease-in 1;
  animation: slideInBothWays ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}